html, body {
	/*height: 100%;*/
}

body {
	margin: 0;
	display: flex;

	/* Horizontal alignment */
	justify-content: center;

	/* Vertical alignment */
	align-items: center;

	background-color: #222222;
}

section {
	float: left;
	justify-content: center;
}

img {
	max-width: 80%;

	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}


span {
	color: white;
}

.ui.segment {
	background-color: #222222;
	color: white;
}

.ui.header {
	color: white;
}

#container {
	/*text-align: center;*/
}

#currentUserSegment {

}

#scoreText {
	font-size: 50px;
	float: center;
}

#countdownText {
	font-size: 25px;
	float: center;
	display: none;
}

#finishButton {
	/*float: right;*/
	/*padding: 10px;*/
}


#canvasContainer {
	background-color: #222222;
}

#haveAGoSegment {
	max-width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;

	background-color: #222222;
}