html, body {
	/*height: 100%;*/
}

body {
	margin: 0;
	display: flex;

	/* Horizontal alignment */
	justify-content: center;

	/* Vertical alignment */
	align-items: center;
}

#container {
	align-items: center;
}

#currentUserSegment {

}

#scoreText {
	font-size: 30px;
	float: left;
}

#countdownText {
	font-size: 25px;
	float: center;
}

#finishButton {
	float: right;
	padding: 10px;
}
